## **1. Introduction to Python**

In [ ]:
#intro to python week sep-28 to oct-2 2020
#intermediate python == week october 5 to 9 2020
#Advance python part-1= week october 12 to 16 2020
#Advance python part-2= week october 19 to 23 2020

In [ ]:
#1.1 == Python Basics or Fundamentals
#integer, float, string, print, add, subtract, multiply, divide, modulos, 
#exponential, variable, changing float to int

#Anacoda free install and then use jupyter notebook or spyder inteface

#jupyter is similar to colab with google account and no need to install , help is also much better

In [ ]:
A=[1,2,3,4,5]
B=['a','b','c','d','e']
print(A.pop())
print(B.pop())

5
e

In [ ]:
A=[1,2,3,4,5]
B=['a','b','c','d','e']
print(A.remove(2))
print(B.remove(1))
A, B

None

ValueError: ignored

In [ ]:
A=['a1','b2','c3','d4','e5']
B=['aa','bb','cc','dd','ee']
print(A.remove('b2'))
print(B.remove('bb'))
A

None
None

['a1', 'c3', 'd4', 'e5']

In [ ]:
my_list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
my_list2 =["Geeks", "For", "Geek"] 
  
# check if my_list1 and my_list2 exists 
print(my_list1) 
print(my_list2) 
  
# delete second element of my_list1 
del my_list1[1] 
  
# check if the second element in my_list1 is deleted 
print(my_list1) 
  
# slice my_list1 from index 3 to 5 
del my_list1[3:5] 
  
# check if the elements from index 3 to 5 in my_list1 is deleted 
print(my_list1) 
  
# delete my_list2 
del my_list2[1]
  
# check if my_list2 exists 
print(my_list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
['Geeks', 'For', 'Geek']
[1, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 4, 7, 8, 9]
['Geeks', 'Geek']

In [ ]:
'hello'

'hello'

In [ ]:
"hello"

'hello'

In [ ]:
type('hello')

str

In [ ]:
print(1)

#integer and float diff with 1 and 1.0

1

In [ ]:
print('Hello')

#string is any word or text with single or double quote ==same

Hello

In [ ]:
# Addition, subtraction
print(5 + 5)
print(5 - 5)

10
0

In [ ]:
# Multiplication, division, modulo (remainder), and exponentiation
print(3 * 5)
print(10 / 2)
print(10 // 2)
print(18 % 7)
print(4 ** 2)

15
5.0
5
4
16

In [ ]:
# Create a variable savings
tahir= 100

# Print out savings
print(tahir)

100

In [ ]:
# Create a variable savings
savings = 100

# Create a variable growth_multiplier
growth_multiplier = 1.1

# Calculate result
x = savings * 1.1 ** 7

# Print out result
print(x)

194.87171000000012

In [ ]:
# Create a variable desc
desc = 'compound interest'
#print(desc)
# Create a variable profitable
profitable = bool("True")

In [ ]:
savings = 100
growth_multiplier = 1.1
desc = "compound interest"

# Assign product of growth_multiplier and savings to year1
year1 = savings * growth_multiplier

# Print the type of year1
print(type(year1))

# Assign sum of desc and desc to doubledesc
doubledesc = desc + " " + desc

# Print out doubledesc
print(doubledesc)

int(growth_multiplier)

<class 'float'>
compound interest compound interest

1

In [ ]:
# Definition of savings and result
savings = 100
result = 100 * 1.10 ** 7

# Fix the printout
#print("I started with $" + str(savings) + " and now have $" + str(result) + '. Awesome!')

# Definition of pi_string
pi_string = "3.1415926"


# Convert pi_string into float: pi_float
pi_float = float(pi_string)

In [ ]:
# 1.2 Lists in python
List: lists of lists, subset, add, slicing, replace, extend, delete 
or many more from documentation

SyntaxError: ignored

In [ ]:
print, max, min , avg, ()  [list], {'tahir':aisha}

In [ ]:
# How to create a list , diff between string and int/float

# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Create list areas
areas_home = [hall, kit, liv, bed, bath]
# Print areas
print(areas_home)

In [ ]:
# How to create a list of lists, diff between string and int/float

# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# house information as list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

# Print out house
print(house)

# Print out the type of house
print(type(house))

In [ ]:
# Subsetting Python lists is a piece of cake. Take the code sample below,
 #which creates a list x and then selects "b" from it. 
 #Remember that this is the second element, so it has index 1 

# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print out second element from areas
print(areas[1])

# Print out last element from areas
print(areas[8])

# Print out the area of the living room
print(areas[-2])

#compare print 1 and 3

In [ ]:
#Adding different parts of list

# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Sum of kitchen and bedroom area: eat_sleep_area
eat_sleep_area = areas[3] + areas[7]

# Print the variable eat_sleep_area
print(eat_sleep_area)

In [ ]:
# Slicing and dicing
#Selecting single values from a list is just one part of the story. 
#It's also possible to slice your list, which means selecting multiple elements from your list


# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Use slicing to create downstairs
downstairs = areas[0:4]

# Use slicing to create upstairs
upstairs = areas[6:10]


# Print out downstairs and upstairs
print(downstairs)
print(upstairs)

#0 included and six never included in slicing

In [ ]:
#Replace list elements
#Replacing list elements is pretty easy. Simply subset the list and assign new values to the subset. 
#You can select single elements or you can change entire list slices at once

# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Correct the bathroom area
areas[-1] = 10.50

# Change "living room" to "chill zone"
areas[4] = "chill zone"
print(areas)

In [ ]:
# Extend a list

# Create the areas list and make some changes
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0,
         "bedroom", 10.75, "bathroom", 10.50]

# Add poolhouse data to areas, new list is areas_1
areas_1 = areas + ["poolhouse", 24.5]

# Add garage data to areas_1, new list is areas_2
areas_2 = areas_1 + ["garage", 15.45]

print(areas_1)
print(areas_2)

In [ ]:
del(), min(), max()

In [ ]:
# delete list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Correct the bathroom area
del(areas[1])
del(areas[-1])
areas

In [ ]:
1.3 == Functions like int, float, max, min etc
type, length=len(), sorted(descending===reverse=True, while opposite if needed),
 upper/lower case, index, count,  append, math functions import and use like math.pi

In [ ]:
# Create variables var1 and var2
var1 = [1, 2, 3, 4, 5, 6]
var2 = True

# Print out type of var1
x = type(var1)
print(type(var1))

# Print out length of var1
print(max(var1))

# Convert var2 to an integer: out2
out2 = int(var2)

In [ ]:
# Create lists first and second
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

# Paste together first and second: full
full = first + second

# Sort full in descending order: full_sorted
full_sorted = sorted(full, reverse=False)

# Print out full_sorted
print(full_sorted)
full

In [ ]:
# string to experiment with: place
place = "poolhouse"

# Use upper() on place: place_up
place_up = place.upper()

# Print out place and place_up
print(place)
print(place_up)

# Print out the number of o's in place
print(place.count('h'))

In [ ]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50, 9.5, 9.500]

# Print out the index of the element 20.0
print(areas[2])
print(areas.index(20.0))

# Print out how often 9.50 appears in areas
print(areas.count(9.50))

In [ ]:
zafar='i am tahir'
zafar[2]

In [ ]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Use append twice to add poolhouse and garage size
areas.append(24.5)
areas.append(15.45)

# Print out areas
print(areas)

# Reverse the orders of the elements in areas
areas.reverse()

# Print out areas
print(areas)

In [ ]:
# Definition of radius
r = 0.43

# Import the math package
import math

# Calculate C
C = 2 * r * math.pi

# Calculate A
A = math.pi * r ** 2

# Build printout
print("Circumference: " + str(C))
print("Area: " + str(A))

In [ ]:
# Definition of radius
r = 192500

# Import radians function of math package
from math import radians

# Travel distance of Moon over 12 degrees. Store in dist.
dist = r * radians(12)

# Print out dist
print(dist)

In [ ]:
1.4 == Numpy
NumPy is a python library used for working with arrays. 
It also has functions for working in domain of linear algebra, 
fourier transform, and matrices.

In [ ]:
[180, 215, 210, 210, 188, 176, 209, 200]/2

In [ ]:
(2 2)

In [ ]:
# Create list baseball
baseball = [180, 215, 210, 210, 188, 176, 209, 200]

# Import the numpy package as np
import numpy as np

# Create a numpy array from baseball: np_baseball
np_baseball = np.array(baseball)
print(np_baseball)
# Print out type of np_baseball
print(type(np_baseball))

[180 215 210 210 188 176 209 200]
<class 'numpy.ndarray'>

In [ ]:
# height is available as a regular list
height = [1.5, 1.7, 1.83]

# Import numpy
import numpy as np

# Create a numpy array from height_in: np_height
np_height = np.array(height)

# Print out np_height_in
print(np_height)

# Convert np_height_in to m: np_height_m
np_height_m = np_height * 0.0254

# Print np_height_m
print(np_height_m)

In [ ]:
# height and weight are available as regular lists
weight_lb = [75, 80, 90]
np_weight_lb =  np.array([75, 80, 90])
# Import numpy
import numpy as np

# Create array from height_in with metric units: np_height_m
np_height_m = np.array(height) * 0.0254

# Create array from weight_lb with metric units: np_weight_kg
np_weight_kg = np_weight_lb * 0.453592

# Calculate the BMI: bmi
bmi = np_weight_kg/np_height_m**2

# Print out bmi
print(bmi)

In [ ]:
# height and weight are available as a regular lists

# Import numpy
import numpy as np

# Calculate the BMI: bmi
np_height_m = np.array(height) * 0.0254
np_weight_kg = np.array(weight_lb) * 0.453592
bmi = np_weight_kg / np_height_m ** 2

# Create the light array
light = bmi > 21

# Print out light
print(light)

# Print out BMIs of all baseball players whose BMI is below 21
print(bmi[light])

In [ ]:
# height and weight are available as a regular lists

# Import numpy
import numpy as np

# Store weight and height lists as numpy arrays
np_weight_lb = np.array(weight_lb)
np_height_in = np.array(height)

# Print out the weight at index 50
print(np_weight_lb[1])

# Print out sub-array of np_height_in: index 100 up to and including index 110
print(np_height_in[1:3])

In [ ]:
# Create baseball, a list of lists
baseball = [[180, 78.4],
            [215, 102.7],
            [210, 98.5],
            [188, 75.2]]

# Import numpy
import numpy as np

# Create a 2D numpy array from baseball: np_baseball
np_baseball = np.array(baseball)

# Print out the type of np_baseball
print(type(np_baseball))

# Print out the shape of np_baseball
print(np_baseball.shape)

In [ ]:
[1]
[0:2]
[0:2,0:4]

In [ ]:
# baseball is available as a regular list of lists

# Import numpy package
import numpy as np

# Create np_baseball (2 cols)
np_baseball = np.array(baseball)

# Print out the 1 row and all column of np_baseball
print(np_baseball[1,:])

# Select the entire second column of np_baseball: np_weight_lb
np_weight_lb = np_baseball[:,1]

# Print out height of 1 row and 0 column player
print(np_baseball[1, 0])

In [ ]:
# np_baseball is available
#a median is a value separating the higher half from the lower half of a data sample
#1, 2, 3, 4,5 ,6 ,7 ==4 is median here
# Import numpy
import numpy as np

# Create np_height_in from np_baseball
np_height_in = np_baseball[:,0]

# Print out the mean of np_height_in
print(np.mean(np_height_in))

# Print out the median of np_height_in
print(np.median(np_height_in))

In [ ]:
# np_baseball is available

# Import numpy
import numpy as np

# Print mean height (first column)
avg = np.mean(np_baseball[:,0])
print("Average: " + str(avg))

# Print median height. Replace 'None'
med = None
print("Median: " + str(med))

# Print out the standard deviation on height. Replace 'None'
stddev = None
print("Standard Deviation: " + str(stddev))

# Print out correlation between first and second column. Replace 'None'
#corr = None
print("Correlation: " + str(np.corrcoef(np_baseball[:,0])))

In [ ]:
# heights and positions are available as lists
positions = ['GK', 'M', 'A', 'D']
heights = [191, 184, 185, 180,]
# Import numpy
import numpy as np

# Convert positions and heights to numpy arrays: np_positions, np_heights
np_positions = np.array(positions)
np_heights = np.array(heights)

# Heights of the goalkeepers: gk_heights
gk_heights = np_heights[np_positions == 'GK']
print(gk_heights)
# Heights of the other players: other_heights
other_heights = np_heights[np_positions != 'GK']

# Print out the median height of goalkeepers. Replace 'None'
print("Median height of goalkeepers: " + str(np.median(gk_heights)))

# Print out the median height of other players. Replace 'None'
print("Median height of other players: " + str(np.median(other_heights)))

In [ ]:
# intermediate python == week october 5 to 9 2020

In [ ]:

height = [1.5, 1.7, 1.83]
weight = [2, 3, 4]
height.append(weight)
print(height)
height[3]

[1.5, 1.7, 1.83, [2, 3, 4]]

[2, 3, 4]

In [ ]:
height = [1.5, 1.7, 1.83]
weight = [2, 3, 4]
height.extend(weight)
print(height)
height[4]

[1.5, 1.7, 1.83, 2, 3, 4]

3